<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RecommendationEngine.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BooksRecomendationsEntities" connectionString="metadata=res://*/BookRecomendationModel.csdl|res://*/BookRecomendationModel.ssdl|res://*/BookRecomendationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=agnieszka;initial catalog=BooksRecomendations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RecommendationEngine.Properties.Settings.BooksRecomendationsConnectionString"
      connectionString="Data Source=agnieszka;Initial Catalog=BooksRecomendations;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <RecommendationEngine.Properties.Settings>
      <setting name="NumOfNeighbors" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinNumberOfBooksEachUserRated" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SimilarityDistance" serializeAs="String">
        <value>PearsonSimilarity</value>
      </setting>
      <setting name="BookPopularityAmongUsers" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumOfBooksToRecommend" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Id" serializeAs="String">
        <value>9</value>
      </setting>
    </RecommendationEngine.Properties.Settings>
  </applicationSettings>
</configuration>